@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body, html {
    height: 100%;
}

.navbar {
    background-color: #55C6C1;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-shadow: 2px 2px black;
}

.jumbotron {
    background-image: url(../assets/imagenes/miami.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
    color: white;
    margin-bottom: 0;
}

.jumbotron h1 {
    text-align: left;
    font-size: 50px;
    text-shadow: 2px 2px black;
}

.jumbotron p {
    text-align: left;
    font-size: 30px;
    text-shadow: 2px 2px black;
}

h2 {
    text-align: center;
    background-color: #55C6C1;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px black;
}

.nosotros {
    height: 300px;
    width: 100%;
}

.row {
    height: 400px;
}

.nright {
    background-color: pink;
    height: 300px;
}

.carousel-item {
    height: 300px;
    overflow: hidden;
    width: 100%;
    }

.carousel-item img {
    width: 100%;
    }

h3 {
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Pacifico', cursive;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.ntexto {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
}

#footer {
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #55C6C1;
}

.titulofooter {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
}

.redes a:hover {
    color: pink;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a {
    color: #55C6C1;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

.formulario {
    margin-top: 20px;
    margin-left: 20px;
}